@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@layer utilities {
  .scrollbarHide {
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  /* Fonts */
  --font-body: "Josefin Sans", sans-serif;
  --font-special: "Nunito", sans-serif;

  /* Colors */
  --color-brown: #53423e;
  --color-lightBrown: #645550;
  --color-darkBrown: #2c2523;
  --color-black: #1e1917;
  --color-white: #f1e1d9;
  --color-cyan: #15d1e9;
  --color-lightCyan: #88e5f0;
  --color-darkCyan: #009fb3;
  --color-orange: #fb9718;
  --color-lightOrange: #fac27b;
  --color-darkOrange: #d28422;
  --color-grey: #626965;
  --color-lightGrey: #978580;
  --color-darkGrey: #3f4441;

  /* Breakpoints */
  --breakpoint-sm: 350px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* Box Shadows */
  --shadow-cyanShadow: 0px 0px 20px 0px rgba(94, 206, 220, 0.5);
  --shadow-cyanBigShadow: 10px 10px 100px 50px rgba(94, 206, 220, 0.3);
  --shadow-cyanMediumShadow: 10px 10px 200px 50px rgba(94, 206, 220, 0.5);
  --shadow-orangeBigShadow: 10px 10px 200px 50px rgba(240, 169, 79, 0.3);
  --shadow-orangeMediumShadow: 10px 10px 100px 50px rgba(240, 169, 79, 0.5);
}

body {
  background-color: var(--color-darkBrown);
  color: var(--color-white);
}
